
[c2pap]
group = pr83mo
notification = never
notify_user = user@domain.com
node_usage = shared
wall_clock_limit = 00:08:00
resources = ConsumableCpus(1)
job_type = serial
class = serial
header_file = ~/analysis/c2papHeader

[e18]
shortqueue = 1
arch = lx-amd64
memory = 750m
header_file = ~/analysis/e18Header
n_tasks_per_job = 5000
#optional
excluded_hosts = dummy

[gridka]
queue = e-long
project = Compass
memory = 2G
header_file = ~/analysis/gridkaHeader
#optional
excluded_hosts = dummy

[lrz]
wall_clock_limit = 30:00:00
memory = 1024mb
header_file = ~/analysis/lrzHeader
max_active_jobs = 1000
clusters=serial
partition=serial_std
n_tasks_per_job=24
n_tasks_per_node=24

[lxplus]
flavour = espresso
header_file = ~/analysis/lxplusHeader
memory = 1.90 GB
disk = 20 MB

[lxplusLSF]
queue = 1nd
type = SLC6_64
header_file = ~/analysis/lxplusHeader
pool = 4500
#optional
memory = 2000
excluded_hosts = dummy

[lyon]

[local]
shell = /bin/bash
# limit the number of cores to be used, 0 means use all (multiprocessing.cpu_count())
cores = 0

[simulator]
lifetime = 00:00:30
