
[c2pap]
group = pr83mo
notification = never
notify_user = user@domain.com
node_usage = shared
wall_clock_limit = 00:08:00
resources = ConsumableCpus(1)
job_type = serial
class = serial
header_file = ~/analysis/c2papHeader

[e18]

[gridka]
queue = sl6
project = Compass
memory = 2G
header_file = ~/analysis/gridkaHeader

[lxplus]
queue = 1nd
type = SLC6_64
header_file = ~/analysis/lxplusHeader
pool = 4500
#optional
memory = 2000
excluded_hosts = dummy

[lyon]
